# Netflix Dataset Analysis

This notebook explores the netflix dataset in order to understand its content and structure.

In [1]:
# run once
# !pip install matplotlib pandas seaborn

In [2]:
import os
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd

## Reading data

In [3]:
DATA_DIR = "../data"  # path relative to this notebook's location
DATASET_FILE = "netflix.zip"

In [4]:
data = pd.read_csv(os.path.join(DATA_DIR, DATASET_FILE))
data.head(2)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."

## Column description

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8807 entries, 0 to 8806
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       8807 non-null   object
 1   type          8807 non-null   object
 2   title         8807 non-null   object
 3   director      6173 non-null   object
 4   cast          7982 non-null   object
 5   country       7976 non-null   object
 6   date_added    8797 non-null   object
 7   release_year  8807 non-null   int64
 8   rating        8803 non-null   object
 9   duration      8804 non-null   object
 10  listed_in     8807 non-null   object
 11  description   8807 non-null   object
dtypes: int64(1), object(11)
memory usage: 825.8+ KB

In [6]:
data.type.value_counts()

Movie      6131
TV Show    2676
Name: type, dtype: int64

In [7]:
data.cast.head(30)

0                                                   NaN
1     Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...
2     Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...
3                                                   NaN
4     Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...
5     Kate Siegel, Zach Gilford, Hamish Linklater, H...
6     Vanessa Hudgens, Kimiko Glenn, James Marsden, ...
7     Kofi Ghanaba, Oyafunmike Ogunlano, Alexandra D...
8     Mel Giedroyc, Sue Perkins, Mary Berry, Paul Ho...
9     Melissa McCarthy, Chris O'Dowd, Kevin Kline, T...
10                                                  NaN
11    Sukollawat Kanarot, Sushar Manaying, Pavarit M...
12    Luna Wedler, Jannis Niewöhner, Milan Peschel, ...
13    Klara Castanho, Lucca Picon, Júlia Gomes, Marc...
14                                                  NaN
15    Logan Browning, Brandon P. Bell, DeRon Horton,...
16                                                  NaN
17    Luis Ernesto Franco, Camila Sodi, Sergio Goyri...
18    Freida Pinto, Logan Marshall-Green, Robert Joh...
19    Blanca Suárez, Iván Marcos, Óscar Casas, Adriá...
20                                                  NaN
21    Engin Altan Düzyatan, Serdar Gökhan, Hülya Dar...
22    Kamal Hassan, Meena, Gemini Ganesan, Heera Raj...
23    Maisie Benson, Paul Killam, Kerry Gudjohnsen, ...
24    Prashanth, Aishwarya Rai Bachchan, Sri Lakshmi...
25                                     Brooke Satchwell
26    Arvind Swamy, Kajol, Prabhu Deva, Nassar, S.P....
27    Adam Sandler, Kevin James, Chris Rock, David S...
28    Keri Russell, Josh Hamilton, J.K. Simmons, Dak...
29    Liam Hemsworth, Gary Oldman, Amber Heard, Harr...
Name: cast, dtype: object

In [8]:
data.director.head(10)

0                  Kirsten Johnson
1                              NaN
2                  Julien Leclercq
3                              NaN
4                              NaN
5                    Mike Flanagan
6    Robert Cullen, José Luis Ucha
7                     Haile Gerima
8                  Andy Devonshire
9                   Theodore Melfi
Name: director, dtype: object

In [9]:
data.country.head(10)

0                                        United States
1                                         South Africa
2                                                  NaN
3                                                  NaN
4                                                India
5                                                  NaN
6                                                  NaN
7    United States, Ghana, Burkina Faso, United Kin...
8                                       United Kingdom
9                                        United States
Name: country, dtype: object

In [10]:
data.date_added.head(10)

0    September 25, 2021
1    September 24, 2021
2    September 24, 2021
3    September 24, 2021
4    September 24, 2021
5    September 24, 2021
6    September 24, 2021
7    September 24, 2021
8    September 24, 2021
9    September 24, 2021
Name: date_added, dtype: object

In [11]:
data.release_year.head(10)

0    2020
1    2021
2    2021
3    2021
4    2021
5    2021
6    2021
7    1993
8    2021
9    2021
Name: release_year, dtype: int64

In [12]:
data.duration.head(10)

0       90 min
1    2 Seasons
2     1 Season
3     1 Season
4    2 Seasons
5     1 Season
6       91 min
7      125 min
8    9 Seasons
9      104 min
Name: duration, dtype: object

In [13]:
data.listed_in.head(10)

0                                        Documentaries
1      International TV Shows, TV Dramas, TV Mysteries
2    Crime TV Shows, International TV Shows, TV Act...
3                               Docuseries, Reality TV
4    International TV Shows, Romantic TV Shows, TV ...
5                   TV Dramas, TV Horror, TV Mysteries
6                             Children & Family Movies
7     Dramas, Independent Movies, International Movies
8                         British TV Shows, Reality TV
9                                     Comedies, Dramas
Name: listed_in, dtype: object